.pos {
  --background: #f6f7fa;
  --background-item: #fff;
  --radius: 20px;
  display: grid;
  grid-template-areas:  "header    cart"
                        "input     cart"
                        "list       cart"
                        "categories cart";
  background-color: var(--background);
  border-radius: 20px;
  width: 978px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  &__cart {
    width: 283px;
    grid-area: cart;
    background-color: var(--background-item);
    border-radius: var(--radius);
    padding: 20px;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__head {
      font-size: 24px;
      font-weight: 700;
    }
    &__close {
      background: rgba(252, 89, 89, 0.1);
      border-radius: 10px;
      padding: 4px 6px;
      &:hover {
        background: rgba(252, 89, 89, 0.3);
      }
      svg {
        font-size: 23px;
        color: #fc5959;
      }
    }
  }
  &__header {
    grid-area: header;
    &__info {
      display: flex;
      justify-content: space-between;
      .date {
        color: #8292a6;
      }
    }
  }
  &__input {
    grid-area: input;
    input {
      width: 100%;
      height: 61px;
      border-radius: 8px;
      outline: none;
      border: none;
      padding: 0 20px;
    }
  }
  &__list {
    grid-area: list;
    display: flex;
    flex-flow: row wrap;
    gap: 14px;
  }
  &__item {
    --color: #404d5d;
    background: var(--background-item);
    display: flex;
    flex-flow: column nowrap;
    border-radius: var(--radius);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    flex: 1 1 auto;
    width: 143px;
    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 14px;
      box-shadow: 0px 8px 110px -38px rgb(122, 115, 122);
    }
    &__name {
      color: var(--color);
      padding: 12px 15px;
      text-transform: capitalize;
    }
  }
  &__categories {
    grid-area: categories;
  }
}