@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.list {
  position: relative;
  width: 320px;
  height: 600px;
  border: 1px solid red;
}

.tarot {
  display: flex;
}

img {
  max-width: 100%;
  width: 100%;
}
