<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="panel">
    <div class="panel__item">
      <img src="img/clock.svg" />
      <div class="panel__item__text">30 min</div>
    </div>
    <div class="panel__item">
      <img src="img/pie.svg" />
      <div class="panel__item__text">30 min</div>
    </div>
    <div class="panel__item">
      <img src="img/chart.svg" />
      <div class="panel__item__text">30 min</div>
    </div>
  </div>
  <script src="gsap.min.js"></script>
  <script src="index.js"></script>
</body>
</html>