.add-button-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  flex-grow: 1;
}

.button--add {
  background-color: #4d4b52;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  svg {
    fill: #837f93;
  }
}

.tag__input {
  resize: none;
  height: 26px;
  font-size: 12px;
  line-height: 1.15;
  font-weight: 600;
  border: none;
  border-bottom: .1px solid hsla(0, 0%, 100%, 0.3);
  box-shadow: 0 0.3px 0px hsla(228.4, 18.1%, 66.5%, 0.95);
  outline: none;
  background-color: #3d3c40;
  color: white;
  caret-color: white;
  flex: 1 0 auto;
  width: 80px;
  overflow: hidden;
  padding-top: 8px;
}