.tag {
  --background-color: hsl(169, 60%, 59%);
  --color: #1e1e20;
  --size: 12px;
  flex: 0 0 auto;
  font-size: var(--size);
  line-height: 1.15;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  background-color: var(--background-color);
  color: var(--color);
  padding: 3px 4px 3px 5px   ;
  border-radius: 14px;
  align-items: center;
  font-weight: 600;
  &__avatar {
    --width: 20px;
    border-radius: 50%;
    background-color: hsl(186, 53%, 50%);
    width:  var(--width);
    height: var(--width);
    line-height: var(--width);
    text-align: center;
    font-size: calc(var(--size) - 2px);
  }
  &__close {
    display: flex;
    padding: 0 6px;
    height: 20px;
    align-items: center;
    path {
      stroke: var(--color);
    }
    &:hover {
      path {
        stroke: hsl(240, 11.8%, 83.3%);
      }
    }
  }
  &__name {
    max-width: 185px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}