@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --primary-color: #373B69;
  --second-color : #eee;
  --third-color  : #22254b;
  --fourth-color : #7378c5;
  --fifth-color  : #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: var(--third-color);
}

header {
  background-color: var(--primary-color);
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.search {
  padding: 0.5rem;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid var(--third-color);
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: var(--fifth-color);
}

.search::placeholder {
  color: var(--fourth-color);
}
.search:focus {
  outline: none;
  background-color: var(--third-color);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: masonry;
  justify-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

.movie {
  width : 300px;
  background-color: var(--primary-color);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
}

.movie img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 1rem 1rem;
  color: var(--second-color);
  letter-spacing: 1px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: var(--third-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: Bold;
}

.movie-info span.green {
  color: rgb(39,189,39);
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: rgb(189,42,42);
}

.overview {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--fifth-color);
  padding: 2rem 2rem 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in;
  max-height: 70%;
  overflow: auto;
}

.overview h4 {
  margin: 0;
}

.overview p {
  padding-bottom: 2rem;
}

.movie:hover .overview {
  transform: translateY(0);
}