<br>
<h1 class="center"><b>Infinite Loading List</b></h1>
<h4 class="center"><b>Remaining Count : </b>{{data$.remainingCount$ | async}} | <b>Total Count : </b>{{data$.totalCount$ | async}} </h4>
<hr>

<div>
  <div *ngFor="let item of data$ | async">{{item.name}}</div>
  <div *ngIf="data$.loading$ | async" class="center">Loading ...</div>
</div>

<div class="center">
  <button mat-raised-button color="primary"   (click)="loadMore()" *ngIf="data$.hasMore$ | async">Load More</button> &nbsp;
  <button mat-raised-button color="primary"   (click)="reset()">Reset</button><br>

</div>
